div.snowing_tool_container{
	padding: 10px;
}

div.snowing_tool_option{
	padding: 10px;
}

canvas.snowing{
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
}

h2.snowing{
	display: inline;
}

@media only screen and (max-width: 600px){
	canvas.snowing{display: none;}
}